.Deleteall{
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 12px 18px;
  background-color: #ddd94f;
  color: white;

  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Deleteall:hover{
  background-color: #e0e937;
}