.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.moderninput{
    width: 100%;
    /* padding: 10px; */
    border: none;
    /* border-radius: 4px; */
    font-size: 16px;
    /* margin-right: 10px; */
    color: black;
}
.moderninput:focus{
    outline: none;
}
.modernbutton{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgb(224, 224, 55);
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}
.inputcontainer{
    display: flex;
    gap: 10px;
}