.item{
    width: 500px;
    color:black;
    font-size: 20px;
    margin:0 auto;;
}
.itemName{
    font-weight: bold;
    padding: 20px;
}
.line{
    border: 2px solid;
}
.deleteButton{
    float: right;
    padding:  12px 20px;
    background-color:rgb(226, 226, 12);
    border:none;
    border-radius: 4px;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}